.sale-text-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  
  .sale-text {
    color: black;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    white-space: nowrap;
  }
  
.highlight{
    color: red;
}