.main-footer {
    background-color: #00308F;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
  }
  
  .col1, .col {
    width: 33.33%;
    text-align: center;
  }
  
  h4 {
    color: white;
    font-size: 16px;
    margin: 10px 0;
  }
  
  ul {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 14px;
    margin: 10px 0;
  }
  
  hr {
    width: 100%;
    border: 1px solid red;
  }